

 .hero {
  
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}



/* .img {
 
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */


.img {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 90px 20px 0 20px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #fff;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0.2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
  margin-top: 1.5rem;
  display: inline-block;
}

.hero-text a:hover{
     /* background-color: #222; */
     background-color: #0097DC;
    color:#fff;
    transition: all 0.1s ease-in-out;
    /* transform: scale(0.95); */

}

/* About */

.hero-about{
   width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.hero-about h1{
padding-top: 4rem !important;
}
